{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
// {
//   "plugins": [
//     ["@babel/plugin-proposal-decorators", { "legacy": true }]
//   ],
//   "presets": [
//     [
//       "babel-preset-gatsby",
//       {
//         "targets": {
//           "browsers": [">0.25%", "not dead"]
//         }
//       }
//     ]
//   ]
// }
