// {
//   "extends": ["airbnb", "airbnb/hooks"],
//   "rules": { 	// Gatsby's required rules
//     "no-anonymous-exports-page-templates": "warn",
//     "limited-exports-page-templates": "warn"
//   }
// }
