html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  // overrides default Bootstrap styles
  color: $color-light !important;
  text-decoration: none !important;
}

ul,
ol {
  // overrides default Bootstrap styles
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}
