@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Playfair+Display+SC:wght@400;700&display=swap');

//FONTS
$font-italiana: 'Italiana', serif;
$font-playfair: 'Playfair Display SC', serif;

// COLORS
$color-primary: #dfae5f;
$color-dark: #121212;
$color-light: #f1f1f1;
$color-white: #ffffff;

// BREAKPOINTS
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// SIZES
$logo-width: 20rem;
$logo-height: 8.85rem;
$border-radius: 2rem;

// CAROUSEL
$slide-column-gap: 5rem;
$img-sm-width: 22rem;
$img-sm-height: 30rem;
$img-md-width: 25rem;
$img-md-height: 33rem;
$img-lg-width: 27rem;
$img-lg-height: 35rem;
