.gallery-section {
  @include bg-section('../../assets/images/1-slide.jpeg', 50% 50%);

  &__carousel-wrapper {

  }

  &__carousel {

  }

  .carousel-item {
    height: fit-content;
    width: 100%;

    &.active {

    }
  }

  &__img {
    width: 22rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 2rem;

    @media (min-width: $breakpoint-md) {
      width: 25rem;
      height: 33rem;
    }

    @media (min-width: $breakpoint-lg) {
      width: 27rem;
      height: 35rem;
    }
  }
}
