.header {
  @include bg-section(
    'https://res.cloudinary.com/dmodiqndy/image/upload/c_fill,w_576/q_auto/v1/mh-barbershop/ri2shenan4o3pcrmwbf8',
    15% bottom
  );

  @media (min-width: $breakpoint-sm) {
    background-image: url('https://res.cloudinary.com/dmodiqndy/image/upload/c_fill,w_768/q_auto/v1/mh-barbershop/ri2shenan4o3pcrmwbf8');
  }

  @media (min-width: $breakpoint-md) {
    background-image: url('https://res.cloudinary.com/dmodiqndy/image/upload/c_fill,w_992/q_auto/v1/mh-barbershop/ri2shenan4o3pcrmwbf8');
  }

  @media (min-width: $breakpoint-lg) {
    background-image: url('https://res.cloudinary.com/dmodiqndy/image/upload/c_fill,w_1200/q_auto/v1/mh-barbershop/ri2shenan4o3pcrmwbf8');
  }

  @media (min-width: $breakpoint-xl) {
    background-image: url('https://res.cloudinary.com/dmodiqndy/image/upload/c_fill,w_1400/q_auto/v1/mh-barbershop/ri2shenan4o3pcrmwbf8');
    background-position: center;
  }
}
