$navbar-dark-color: rgba($color-white, 0.75);
$navbar-dark-hover-color: $color-white;
$navbar-dark-active-color: $color-primary;
$navbar-dark-disabled-color: rgba($color-white, 0.25);

$offcanvas-horizontal-width: 70%;
