@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Playfair+Display+SC:wght@400;700&display=swap');

//FONTS
$font-italiana: 'Italiana', serif;
$font-playfair: 'Playfair Display SC', serif;


// COLORS
$color-primary: #DFAE5F;
$color-white: #D9D9D9;
$color-red-bright: #EE162D;
$color-red-dark: #AD1B21;
$color-blue: #1354A4;
$color-violet-dark: #4A4975;
$color-black: #060606;
$color-filter: #121212;

// SIZES
$logo-width: 12.5rem;
$logo-height: 5.625rem;


%flex-center {
 display: flex;
  justify-content: center;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

%title_section{
  color: $color-primary;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}


@mixin bg-section($url){
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url($url);
  background-size: cover;
  background-position: 55% 55%;
  background-repeat: no-repeat;
}
